.basket {
    display: flex;
    flex-direction: column;
    width: 74%;
    margin: auto;
}

.basket__label {
    overflow: hidden;
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 1.3rem;
}

.basket__label:before,
.basket__label:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background: #e6e6e6;
    border: solid #FFF;
    border-width: 0 10px;
}

.basket__label:before {
    margin-left: -100%;
}

.basket__label:after {
    margin-right: -100%;
}

.basket__items {
    border-bottom: 3px solid #e6e6e6;
}

.basket ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.basket  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 5px;

}

.basket li:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
    flex:1.8;
}

.basket li:nth-child(3),
.basket li:nth-child(4),
.basket li:nth-child(5) {
    flex-direction: row;
    flex:0.7;
}

.basket li img {
    width: 100%;
}

.basket button {
    padding: 10px;
}

.promo {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.promo__action,
.promo__val  {
    flex:1;
    display: flex;
    flex-direction: column;
}

.promo__action {
    flex:1.3;
}

.promo__val {
    flex:0.7;
}

.promo__val div {
    display: flex;
    justify-content: space-between;
}


@media (max-width:910px) {
    .basket {
        width: 100%;
    }

    .basket li img {
        width: 80px;
    }
}
